@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 2s linear;
    }
}


@keyframes App-logo-spin {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);

    }

    100% {
        transform: rotate(-20deg);
    }

}